.custom-header-title {
    letter-spacing: 2px;
    font-weight: bold !important;
}

.custom-header-title-desc {
    letter-spacing: 1px;
    line-height: 1.5;
}

.custom-get-started-title-area {
    margin: 0 !important;
    max-width: initial !important;
}

.info-icon .custom-h3 {
    letter-spacing: 1px;
}

.ico-token-budget {
    background-image: url(../images/repeatbg.png);
    background-position: center;
    background-repeat: repeat;
}

.ico-token-budget img {
    margin-top: 60px;
}

.pre-ico-budget .info-icon .custom-description, .pre-ico-budget .info-icon .custom-h3 {
    text-align: right;
}

/*.ico-token-budget .info-icon .custom-description, .ico-token-budget .info-icon .custom-h3{*/
/*text-align: left;*/
/*}*/
.info-icon .custom-h3, .info-icon .custom-h3 {
    font-weight: bold;
    padding-bottom: 15px;
}

.info-icon img {
    /*width: 100%;*/
    width: 200px;
    margin-top: calc(50% - 100px);
}

.section.features .each-feature {
    padding: 100px 0;
}

.each-feature.secure-publishing {
    background-image: url('../images/background-images/artist-payout.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.artist-payout {
    background-image: url('../images/background-images/content-licenses.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.no-fee-token-purchase {
    background-image: url('../images/background-images/easy-purchase-and-payment.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.easy-purchase-and-payment {
    background-image: url('../images/background-images/future-safe.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.no-subscription {
    background-image: url('../images/background-images/growth-value.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.incentive-freemium {
    background-image: url('../images/background-images/incentive-freemium.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.content-licenses {
    background-image: url('../images/background-images/no-fee-token-purchase.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.growth-value {
    background-image: url('../images/background-images/no-subscription.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.pricing-goals {
    background-image: url('../images/background-images/pricing-goals.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature.future-safe {
    background-image: url('../images/background-images/secure-publishing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.each-feature .description {
    color: #ffffff;
}

.section.features .each-feature:nth-child(odd) .info-icon .custom-h3, .section.features .each-feature:nth-child(odd) .info-icon .custom-description {
    text-align: left !important;
}

.section.features .each-feature:nth-child(even) .info-icon .custom-h3, .section.features .each-feature:nth-child(even) .info-icon .custom-description {
    text-align: right !important;
}

.section.features .float-left {
    float: left !important;
}

.section.features .float-right {
    float: right !important;
}

.section.features .info-icon .icon {
    margin-bottom: 0;
}

.section.features .info-icon .custom-h3 {
    margin-top: 0;
}

.ico-stretch-goals .each-goal .info-icon .icon i.fa {
    margin-right: 20px;
}

.ico-stretch-goals .each-goal {
    padding: 40px 2px 2px 2px !important;
    background: #333;
    border: 5px solid white;
    border-radius: 10px;
}

.ico-stretch-goals .each-goal .info-icon .icon {
    font-size: 55px;
    margin-bottom: 2px;
    padding: 10px 0;
    background: #F2F2F2;
    color: #333;
}

.ico-stretch-goals .each-goal .info-icon p.description {
    margin: 0;
    padding: 10px 7.5px;
    background: #F5F5F5;
    border-bottom: 1px dotted #333;
    text-align: left !important;
}

.ico-stretch-goals .each-goal .info-icon p.description:last-child {
    border: none;
}

.section .title-area {
    margin: 0 auto 10px;
}

.funding-pre-ico {
    background-image: url(../images/timer.jpg);
    background-position: center;
    background-size: cover;
}

.funding-pre-ico .title-area h3 {
    font-size: 2.5em;
}

.funding-pre-ico .title-area h4 {
    font-size: 2em;
}

.section-our-team-freebie {
    padding-top: 0;
}

.hiring .real-content .each-hire {
    height: 80px;
    text-align: center;
}

.hiring .real-content .each-hire > label {
    padding: 5px;
    font-weight: 100;
    border-radius: 10px;
    color: white;
}

@media screen and (max-width: 1200px) {
    .info-icon img {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .ico-stretch-goals .each-goal .info-icon .icon {
        font-size: 45px;
    }

}

@media screen and (max-width: 992px) {
    .funding-pre-ico .title-area h3 {
        font-size: 1.5em;
    }

    .funding-pre-ico .title-area h4 {
        font-size: 1.3em;
    }

    .hiring .real-content .each-hire {
        height: auto;
    }

    .hiring .real-content .each-hire > label {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 767px) {
    .section.features div:nth-child(2) {
        padding-top: 0;
    }

    .section .title-area {
        margin-bottom: 30px;
    }

    .info-icon .custom-description, .info-icon .custom-h3 {
        text-align: center !important;
    }

    .section.features .each-feature:nth-child(odd) .info-icon .custom-h3, .section.features .each-feature:nth-child(odd) .info-icon .custom-description {
        text-align: center !important;
    }

    .section.features .each-feature:nth-child(even) .info-icon .custom-h3, .section.features .each-feature:nth-child(even) .info-icon .custom-description {
        text-align: center !important;
    }

    .info-icon img {
        width: 50%;
        margin: 0;
    }

    .custom-header-but {
        padding: 7px 10px;
    }

    .section-header .custom-content {
        top: 55%;
    }

    .ico-stretch-goals .container {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 500px) {
    .info-icon img {
        width: 100%;
    }

    .ico-stretch-goals .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}