.h2-bold {
    font-family: "Gotham-Bold", Sans-Serif;
}
.goals {
    font-family: "Gotham-Light", Sans-Serif;
    font-size: 14px;
}

.goals__header h2, .goals__header h3 {
    font-family: "Gotham-Book", Sans-Serif;
}

.goals__header-text {
    font-size: 1.429em;
}

.goals__header-subtext {
    font-size: 1.143em;
}

.goals__header-logo {
    background-color: #000;
    height: 150px;
    display:flex;
    align-items:center;
}

.goals__header-logo:before {
    content: '';
    position: relative;
    left: -100px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 150px 0;
    border-color: transparent #000000 transparent transparent;
}
