.h2-bold {
    font-family: "Gotham-Bold", Sans-Serif;
}
.goals {
    font-family: "Gotham-Light", Sans-Serif;
    font-size: 14px;
}

.goals__header {
    font-family: Gotham-Book, Sans-Serif;
}

.goals__header-text {
    font-size: 1.429em;
}

.goals__header-subtext {
    font-size: 1.143em;
}