.h2-bold {
    font-family: "Gotham-Bold", Sans-Serif;
}
.goals {
    font-family: "Gotham-Light", Sans-Serif;
    font-size: 14px;
}

.goals__header {
    font-family: Gotham-Book, Sans-Serif;
}

.goals__header-text {
    font-size: 1.429em;
}

.goals__header-subtext {
    font-size: 1.143em;
}
.section {
    padding: 0;
}
.navbar {
    display: none;
}
.footer {
    display: none;
}
.pr0 {
    padding-right: 0;
}
.pl0 {
    padding-left: 0;
}
.roadmap__wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #000;
    padding-top: 44px;
}
.roadmap__logo {
    padding-bottom: 20px;
}
.roadmap__wrap {
    width: 100%;
    height: 230px;
    position: relative;
}
.second__wrap {
    padding-top: 30px;
}
.roadmap__snake-image {
    position: absolute;
    top: 0;
    right: -138px;
}
.roadmap__zero-image {
    position: absolute;
    left: -53px;
    top: 58.5px;
    z-index: 1;
}
.roadmap__zero-number-image {
    position: absolute;
    left: -21px;
    top: 90px;
    z-index: 2;
}
.second__wrap::before {
    content: "0";
    font-family: 'Clarendon-BT-Bold';
    font-size: 71px;
    position: absolute;
    z-index: 3;
    top: 60px;
    left: -21px;
    color: #434244;
}
.second__wrap::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 113px;
    left: 57px;
    width: 115px;
    height: 0;
    border-bottom: 2px dashed #78b4d4;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.roadmap__date,
.roadmap__description {
    display: inline-block;
    vertical-align: top;
}
.roadmap__date-list li {
    color: #fff;
    font-family: 'MavenPro-Bold';
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.roadmap__description-list li {
    color: #fff;
    font-family: 'MavenPro-regular';
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.roadmap__date {
    position: relative;
}
.first__date::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 76.5px;
    left: -61px;
    border-radius: 50%;
    background: #78b4d4;
}
.description__right {
    padding-left: 15px;
    border-left: 2px dashed #78b4d4;
    max-width: 260px;
    width: 100%;
}
.description__left {
    padding-right: 15px;
    border-right: 2px dashed #efcf32;
    max-width: 260px;
    width: 100%;
}
.description__left > ul {
    text-align: right;
}
.date__left {
    margin-right: 236px;
    max-width: 75px;
    padding-left: 5px;
}
.date__right {
    margin-left: 236px;
    max-width: 75px;
    padding-right: 5px;
}
.roadmap__one-image {
    position: absolute;
    right: -106px;
    top: 8px;
    z-index: 1;
}
.roadmap__one-number-image {
    position: absolute;
    right: -69px;
    top: 38px;
    z-index: 2;
}
.third__wrap {
    top: -40px;
}
.third__wrap::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 62px;
    right: 6px;
    width: 115px;
    height: 0;
    border-bottom: 2px dashed #efcf32;
}
.third__wrap::after {
    content: "1";
    font-family: 'Clarendon-BT-Bold';
    font-size: 72px;
    position: absolute;
    z-index: 3;
    top: 6.5px;
    right: -75.5px;
    color: #2d1f00;
}
.second__date::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 55.5px;
    left: 167px;
    border-radius: 50%;
    background: #efcf32;
}
.roadmap__two-image {
    position: absolute;
    left: -53px;
    top: 5px;
    z-index: 1;
}
.roadmap__two-number-image {
    position: absolute;
    left: -19px;
    top: 36px;
    z-index: 2;
}
.fourth__wrap {
    top: 103px
}
.fourth__wrap::before {
    content: "2";
    font-family: 'Clarendon-BT-Bold';
    font-size: 72px;
    position: absolute;
    z-index: 3;
    top: 4.5px;
    left: -21px;
    color: #434244;
}
.fourth__wrap::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 60px;
    left: 57px;
    width: 115px;
    height: 0;
    border-bottom: 2px dashed #78b4d4;
}
.third__date::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 52.5px;
    left: -60px;
    border-radius: 50%;
    background: #78b4d4;
}
.fifth__wrap {
    top: 10px;
}
.fifth__wrap::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 62px;
    right: 6px;
    width: 115px;
    height: 0;
    border-bottom: 2px dashed #efcf32;
}
.fifth__wrap::after {
    content: "3";
    font-family: 'Clarendon-BT-Bold';
    font-size: 72px;
    position: absolute;
    z-index: 3;
    top: 6.5px;
    right: -75.5px;
    color: #2d1f00;
}
.fourth__date::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 55.5px;
    left: 167px;
    border-radius: 50%;
    background: #efcf32;
}
.roadmap__three-image {
    position: absolute;
    right: -106px;
    top: 8px;
    z-index: 1;
}
.roadmap__three-number-image {
    position: absolute;
    right: -74px;
    top: 37px;
    z-index: 2;
}
.six__wrap {
    top: 153px
}
.six__wrap::before {
    content: "4";
    font-family: 'Clarendon-BT-Bold';
    font-size: 71px;
    position: absolute;
    z-index: 3;
    top: 5.5px;
    left: -24px;
    color: #434244;
}
.six__wrap::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 60px;
    left: 57px;
    width: 115px;
    height: 0;
    border-bottom: 2px dashed #78b4d4;
}
.fifth__date::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 52.5px;
    left: -60px;
    border-radius: 50%;
    background: #78b4d4;
}
.roadmap__fourth-image {
    position: absolute;
    left: -53px;
    top: 5px;
    z-index: 1;
}
.roadmap__fourth-number-image {
    position: absolute;
    left: -19px;
    top: 36px;
    z-index: 2;
}
.seven__wrap {
    top: 104px;
}
.seven__wrap::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 19px;
    right: 6px;
    width: 115px;
    height: 0;
    border-bottom: 2px dashed #efcf32;
}
.seven__wrap::after {
    content: "5";
    font-family: 'Clarendon-BT-Bold';
    font-size: 72px;
    position: absolute;
    z-index: 3;
    top: -36.5px;
    right: -76.5px;
    color: #2d1f00;
}
.six__date::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12.5px;
    left: 167px;
    border-radius: 50%;
    background: #efcf32;
}
.roadmap__five-image {
    position: absolute;
    right: -106px;
    top: -37px;
    z-index: 1;
}
.roadmap__five-number-image {
    position: absolute;
    right: -74px;
    top: -6px;
    z-index: 2;
}