<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a></li>
                            <li>
                                <a href="{% url 'demo' %}">Demo</a>
                            </li>
                            <li>
                                <a href="{% url 'purchase-gift-card' %}">Buy Gift Promo Code</a>
                            </li>
                            <li>
                                <a href="#features">Our Features</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title"> Help and Support</h5>
                     <nav>
                        <ul>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">How it works</a>
                            </li>
                            <li>
                                <a href="#">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="#">Company Policy</a>
                            </li>
                            <li>
                                <a href="#">Money Back</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">Latest News</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i> <b>Get Shit Done</b> The best kit in the market is here, just give it a try and let us...
                                    <hr class="hr-small">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i> We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <!-- Facebook -->
                                <a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/QMediaCoin/" target="_blank">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
{#                            <li>#}
{#                                <a href="#" class="btn btn-social btn-dribbble btn-simple">#}
{#                                    <i class="fa fa-dribbble"></i> Dribbble#}
{#                                </a>#}
{#                            </li>#}
                            <li>
                                <!-- Twitter -->
                                <a href="https://twitter.com/share?url=https://twitter.com/QMediaCoin&amp;text=Recommend%20MediaCoin&amp;hashtags=mediacoinsharebuttons" target="_blank">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <!-- Reddit -->
                                <a href="http://reddit.com/submit?url=https://www.reddit.com/r/MediaCoin/&amp;title=Recommend MediaCoin" target="_blank">
                                    <i class="fa fa-reddit" aria-hidden="true"></i> Reddit
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
             © <script> document.write(new Date().getFullYear()) </script> Media Coin, made with love
        </div>
    </div>
</footer>