<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Company</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a></li>
                            <li>
                                <a href="{% url 'demo' %}">Demo</a>
                            </li>
                            <li>
                                <a href="{% url 'purchase-gift-card' %}">Buy Gift Promo Code</a>
                            </li>
                            <li>
                                <a href="#features">Our Features</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title"> Help and Support</h5>
                     <nav>
                        <ul>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">How it works</a>
                            </li>
                            <li>
                                <a href="#">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="#">Company Policy</a>
                            </li>
                            <li>
                                <a href="#">Money Back</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="info">
                    <h5 class="title">Latest News</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">2017-12-07 Quiet website launch. We have been very busy!</a>
                            </li>
                            <li>
				<p>2017-12-09 Referral network is live!</p>
                            </li>
                            <li>
                                <a href="/purchase-gift-card/">2017-12-10 Gift promo code is almost ready, paypal doesn't work yet.</a>
                            </li>
                            <li>
                                Paypal delayed until Nevada TaxID+Bank account filing done. Site+demo updates. Whitepaper and Greenpaper pdf.
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Follow us on</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://discord.gg/KgzPYeJ" class="btn btn-social btn-discord btn-simple">
                                    <i class="fa fa-discord"></i>Chat with us on Discord
                                </a>
                            </li>
                            <li>
                                <!-- Facebook -->
                                <a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/QMediaCoin/" target="_blank">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <!-- Twitter -->
                                <a href="https://twitter.com/share?url=https://twitter.com/QMediaCoin&amp;text=Recommend%20MediaCoin&amp;hashtags=mediacoinsharebuttons" target="_blank">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <!-- Reddit -->
                                <a href="http://reddit.com/submit?url=https://www.reddit.com/r/MediaCoin/&amp;title=Recommend MediaCoin" target="_blank">
                                    <i class="fa fa-reddit" aria-hidden="true"></i> Reddit
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
 <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 9334765;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code --> 
        <hr>
        <div class="copyright">
             © <script> document.write(new Date().getFullYear()) </script> Media Coin, made with love
        </div>
    </div>
</footer>
