{% load staticfiles %}
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="{% url 'index' %}" class="navbar-brand">
                <img src="{% static "images/logo.png" %}">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="referral-link-path">
                <a>Your referral link</a>&nbsp;used&nbsp;<span class="referral-times">50</span> times
            </div>
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li>
                    <a href="{% url 'demo' %}">Demo</a>
                </li>
                <li>
                    <a href="/greenpaper">GreenPaper</a>
                </li>
                <li>
                    <a href="/whitepaper">WhitePaper</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>