{% load staticfiles %}
<div class="sidebar visible-md visible-lg">
    <div class="sidebar__item">
        <a href="https://discord.gg/KgzPYeJ" class="sidebar__link" target="_blank">
            <div class="sidebar__icon">
                <i class="icon-discord"></i>
            </div>
            <div class="sidebar__text">Discord</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="https://www.reddit.com/r/MediaCoin" class="sidebar__link" target="_blank">
            <div class="sidebar__icon">
                <i class="icon-reddit"></i>
            </div>
            <div class="sidebar__text">Reddit</div>
        </a>
    </div>
    <div class="sidebar__list">
        <a href="https://www.linkedin.com/company/18442731/" class="sidebar__link" target="_blank">
            <div class="sidebar__icon">
                <i class="icon-linkedin"></i>
            </div>
            <div class="sidebar__text">Linkedin</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="https://www.youtube.com/channel/UCcH7aAURv_fa4WSDOm3xThw" class="sidebar__link" target="_blank">
            <div class="sidebar__icon">
                <i class="icon-youtube"></i>
            </div>
            <div class="sidebar__text">Youtube</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="https://twitter.com/QMediaCoin" class="sidebar__link" target="_blank">
            <div class="sidebar__icon">
                <i class="icon-twitter"></i>
            </div>
            <div class="sidebar__text">Twitter</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="https://www.facebook.com/QMediaCoin/" class="sidebar__link" target="_blank">
            <div class="sidebar__icon">
                <i class="icon-facebook"></i>
            </div>
            <div class="sidebar__text">Facebook</div>
        </a>
    </div>
</div>