{% load staticfiles %}
<div class="sidebar visible-md visible-lg">
    <div class="sidebar__item">
        <a href="https://discord.gg/KgzPYeJ" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-discord"></i>
            </div>
            <div class="sidebar__text">Discord</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="http://reddit.com/submit?url=https://www.reddit.com/r/MediaCoin/&title=Recommend%20MediaCoin" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-reddit"></i>
            </div>
            <div class="sidebar__text">Reddit</div>
        </a>
    </div>
    <div class="sidebar__list">
        <a href="#" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-github"></i>
            </div>
            <div class="sidebar__text">Github</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="#" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-youtube"></i>
            </div>
            <div class="sidebar__text">Youtube</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="https://twitter.com/share?url=https://twitter.com/QMediaCoin&text=Recommend%20MediaCoin&hashtags=mediacoinsharebuttons" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-twitter"></i>
            </div>
            <div class="sidebar__text">Twitter</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/QMediaCoin/" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-facebook"></i>
            </div>
            <div class="sidebar__text">Facebook</div>
        </a>
    </div>
</div>