{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} DEMO | Media Coin {% endblock %}

{% block page-styles %}

    <link href="{% static "stylesheets/pages/ico_stretch_goals.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="section space-for-header"></div>

    <section class="goals">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="goals__header">
                        <div class="goals__header-text">
                            <span class="h2-bold">ICO</span> STRETCH GOALS
                        </div>
                        <div class="goals__header-subtext">
                            Budget Scaling with investment
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="goals__header-logo">
                        <img class="img-responsive" width="232px" src="{% static 'images/mediacoin-logo.png' %}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="goals__list goals__list--left">
                        <li class="goal__list-item">We'll get there, eventually</li>
                        <li class="goal__list-item">Volunteers and tokens only</li>
                        <li class="goal__list-item">Tokens for development via bounty</li>
                        <li class="goal__list-item">1 dedicated server, 10-20TB data storage</li>
                        <div class="goals__list-dist">200K</div>
                    </ul>
                    <ul class="goals__list goals__list--right">
                        <li class="goal__list-item">2 dedicated developers</li>
                        <li class="goal__list-item">Marketing promotional budget for user and content</li>
                        <li class="goal__list-item">Multiple servers, 100-200TB data storage</li>
                        <li class="goal__list-item">1 Exchange listing fee</li>
                        <div class="goals__list-dist">500K</div>
                    </ul>
                    <ul class="goals__arrow-list">
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{#    {% include "mediacoin/partials/section-demo.html" %}#}

{% endblock %}

{% block page-scripts %}

    <script type="text/javascript" src="{% static "javascripts/pages/ico_stretch_goals.js" %}"></script>

{% endblock %}