{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} DEMO | MediaCoin {% endblock %}

{% block page-styles %}

    <link href="{% static "stylesheets/pages/ico_stretch_goals.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="section space-for-header"></div>

    <section class="goals">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="goals__header">
                        <div class="goals__header-text">
                            <span class="h2-bold">ICO</span> STRETCH GOALS
                        </div>
                        <div class="goals__header-subtext">
                            Budget Scaling with investment
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="goals__header-logo">
                        <img class="img-responsive" width="232px" src="{% static 'images/mediacoin-logo.png' %}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="goals__list goals__list--left">
                        <li class="goal__list-item">We'll get there, eventually</li>
                        <li class="goal__list-item">Volunteers and tokens only</li>
                        <li class="goal__list-item">Tokens for development via bounty</li>
                        <li class="goal__list-item">1 dedicated server, 10-20TB data storage</li>
                        <div class="goals__list-dist"><span>200K</span></div>
                    </ul>
                    <ul class="goals__list goals__list--right">
                        <li class="goal__list-item">2 dedicated developers</li>
                        <li class="goal__list-item">Marketing promotional budget for user and content</li>
                        <li class="goal__list-item">Multiple servers, 100-200TB data storage</li>
                        <li class="goal__list-item">1 Exchange listing fee</li>
                        <div class="goals__list-dist"><span>500K</span></div>
                    </ul>
                    <ul class="goals__list goals__list--left">
                        <li class="goal__list-item">5 dedicated developers</li>
                        <li class="goal__list-item">Accelerated Quantum Safe Blockchain development</li>
                        <li class="goal__list-item">Funding for University Math and Cryptography research</li>
                        <li class="goal__list-item">Simultneous iPhone and Android client development</li>
                        <li class="goal__list-item">Initial content licensing</li>
                        <li class="goal__list-item">2 Exchange listing fee</li>
                        <div class="goals__list-dist"><span>1 MILL</span></div>
                    </ul>
                    <ul class="goals__list goals__list--right">
                        <li class="goal__list-item">Simultaneous development of Software Licensing features</li>
                        <li class="goal__list-item">Develop shareware and heartbeat systems using the same token</li>
                        <li class="goal__list-item">Data and Bandwidth sharing for iPhone and Android</li>
                        <li class="goal__list-item">Duplicate effort to include Microsoft Edge Support</li>
                        <li class="goal__list-item">Cross blockchain transactions</li>
                        <li class="goal__list-item">Additional content licensing</li>
                        <li class="goal__list-item">Additional servers and storage</li>
                        <div class="goals__list-dist"><span>3 MILL</span></div>
                    </ul>
                    <ul class="goals__list goals__list--left">
                        <li class="goal__list-item">Simultaneous development of wifi router for selling bandwidth</li>
                        <li class="goal__list-item">Contribute to development of related protocols to accelerate ecosystem</li>
                        <li class="goal__list-item">Additional Funding for University programs</li>
                        <li class="goal__list-item">Ebook development and partnership programs</li>
                        <li class="goal__list-item">1 year budget reserve</li>
                        <div class="goals__list-dist"><span>5 MILL</span></div>
                    </ul>
                    <ul class="goals__list goals__list--right">
                        <li class="goal__list-item">Additional initial content</li>
                        <li class="goal__list-item">Additional support for cross-blockchain transaction</li>
                        <li class="goal__list-item">2 year budget reserve</li>
                        <div class="goals__list-dist"><span>10 MILL</span></div>
                    </ul>
                    <ul class="goals__arrow-list visible-lg">
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                        <li class="arrow-list__item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{#    {% include "mediacoin/partials/section-demo.html" %}#}

{% endblock %}

{% block page-scripts %}

    <script type="text/javascript" src="{% static "javascripts/pages/ico_stretch_goals.js" %}"></script>

{% endblock %}