{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} DEMO | Media Coin {% endblock %}

{% block page-styles %}

    <link href="{% static "stylesheets/pages/ico_stretch_goals.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="section space-for-header"></div>

    <section class="goals">
        <div class="container">
            <div class="row">
                <div class="goals__header">
                    <div class="goals__header-text">
                        <h2><span class="h2-bold">ICO</span> STRETCH GOALS</h2>
                    </div>
                    <div class="goals__header-subtext">
                        <h3>Budget Scaling with investment</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    {% include "mediacoin/partials/section-demo.html" %}#}

{% endblock %}

{% block page-scripts %}

    <script type="text/javascript" src="{% static "javascripts/pages/ico_stretch_goals.js" %}"></script>

{% endblock %}