{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Privacy Policy | MediaCoin {% endblock %}

{% block page-styles %}

    <link href="{% static 'stylesheets/pages/policy.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="section space-for-header"></div>
    <section class="section section__privacy">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="privacy__heading">Privacy Policy Notes</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="privacy__text">
                        The following informs you of our policies and practices regarding the collection
                        and use of personal information that we receive from users of our site. By using
                        this site, you are accepting and consenting to the collection and the use of
                        information in accordance with this policy.
                    </p>
                    <p class="privacy__text">
                        We may collect and process information you give to us by: filling in forms on our
                        site <a class="privacy__text-link" href="https://mediacoin.stream" target="_self">
                        https://mediacoin.stream</a>, corresponding with us by phone, email or otherwise.
                        This can include personal information equivalent to opening up a bank account.
                        We may collect financial information, such as full bank account numbers and/or
                        credit card numbers providing the service you choose deems necessary. We may also
                        collect information that your browser sends whenever you visit our site that may
                        include but are not limited to: website URL, your computer’s Internet Protocol,
                        operating system, browser type and version. Other information we may collect is:
                        the pages on our site that you visit, the time and date of your visit, and the time
                        spent on such pages.
                    </p>
                    <p class="privacy__text">
                        We use this information to carry out our obligations and fulfill any contracts
                        entered into between you and us, and to process any transactions that you consent
                        to. We dually use this information to improve and personalize your experience with
                        our company.
                    </p>
                    <p class="privacy__text">
                        You can be assured that any data that we collect from you will not be sold, shared,
                        transferred or used to misrepresent you in any way.
                    </p>
                    <p class="privacy__text">
                        Periodically our site may contain links to our partner networks and affiliates.
                        If you choose to follow those links, please be aware that they have their own privacy
                        policies and procedures and we do not accept any responsibility or liability for the
                        data you submit to them.
                    </p>
                    <p class="privacy__text">
                        Any policy changes that we make in the future will be posted on this page and when
                        appropriate you will also be notified by email. If you have any questions, comments or
                        concerns about this privacy policy, please feel free to contact us at by support ticket
                        from our live chat help service.
                    </p>
                    <p class="privacy__text">
                        <span class="privacy__text-date">1/21/2018</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block page-scripts %}

{% endblock %}