{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Media Coin {% endblock %}

{% block page-styles %}

    <link href="{% static "stylesheets/index.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}

    {% include "mediacoin/partials/section-header.html" %}
    {% include "mediacoin/partials/section-features.html" %}
    {% include "mediacoin/partials/section-getting-started.html" %}
    {% include "mediacoin/partials/section-pre-ico-budget.html" %}
    {% include "mediacoin/partials/section-ico-token-budget.html" %}
    {% include "mediacoin/partials/section-ico-stretch-goals.html" %}
    {% include "mediacoin/partials/section-funding-pre-ico.html" %}
    {% include "mediacoin/partials/section-team-freebie.html" %}
    {% include "mediacoin/partials/section-hiring.html" %}
    {% include "mediacoin/partials/sidebar.html"%}
{% endblock %}

{% block page-scripts %}

    <script type="text/javascript" src="{% static "javascripts/index.js" %}"></script>

{% endblock %}