<!--Info Modal Templates-->
<div id="modal-info" class="modal modal-message modal-info fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-envelope"></i> <label>Send a gift code to your friend</label>
            </div>

            <div class="modal-title">
                <div class="title-area">
                    <h2><span class="price"><i class="fa fa-usd" aria-hidden="true"></i>50</span> Media Coin Gift Card</h2>
                    <div class="separator sub-separator"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                </div>
            </div>

            <div class="modal-body">
                <div>
                    <input class="rem-ipt-field rem-recipient-email" type="email" placeholder="To: Your recipient`s email">
                    <input class="rem-ipt-field rem-recipient-name" placeholder="Your recipient`s name">
                    <textarea class="rem-ipt-field rem-recipient-message" placeholder="Write a message..."></textarea>
                    <input class="rem-ipt-field rem-your-name" placeholder="Your name">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info rem-register-but">Register</button>
            </div>
        </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
</div>
<!--End Info Modal Templates-->