{% load staticfiles %}
<div class="section section-header">
    <div class="parallax filter filter-gradient-black">
        <div class="image" style="background-image: url('{% static "images/bg1.jpg" %}')"></div>
        <div class="container">
            <div class="content custom-content">
                <div class="title-area">
                    <h1 class="title-modern custom-header-title hidden-xs">MediaCoin</h1>
                    <h3 class="custom-header-title-desc">Crytpocurrency securely publishing audio, video and streaming media for users incentivized by tokens. Demo online but ssl error (proceed anyway to view demo)</h3>
                    <div class="separator line-separator hidden-xs">♦</div>
                </div>

                <div class="button-get-started">
                    <a href="/whitepaper" class="btn btn-white btn-fill btn-lg custom-header-but">
                        Read Whitepaper
                    </a>
                    <a href="/greenpaper" class="btn btn-green btn-fill btn-lg custom-header-but">
                        Read Greenpaper
                    </a>
                    <a href="{% url 'demo' %}" class="btn btn-black btn-fill btn-lg custom-header-but">
                        Try Demo
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>