{% load staticfiles %}

<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('{% static "images/night.jpg" %}')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Our Team</h2>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="{% static 'images/faces/ross.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Ross Kezelman aka Rekezelman</h3>
                                                <p class="small-text">CEO, Blockchain Evangelist</p>
                                                <p class="description">Aggressive leader for multimillion-dollar business transactions, including mergers and acquisitions, and capital funding. Entrepreneurial sense of urgency to produce functional results within security and operational parameters for military and government contracts.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="{% static 'images/faces/ian.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Ian Smith aka RorschachRev</h3>
                                                <p class="small-text">Architect, Server Development</p>
                                                <p class="description">Quickly developing projects in the most suitable language under tight budget and program constraints became a specialty. Since 1998 he has written programs in 19 different programming languages for pay, bringing dozens of projects to completion. Ian also worked as a clustering and firewall consultant in Silicon Valley; worked on internet backbone routers at PAIX.net; profitably automated Forex trading for 3 years until 2008; taught Linux at NASA, Visa, Oracle, Boeing and many more.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="{% static 'images/faces/jefflam.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Jeff Lam Tian Hung</h3>
                                                <p class="small-text">Sr UI and Javascript Developer</p>
                                                <p class="description">Founder and Director of Teleo.co, a project management and team collaboration tool for small businesses. Previously Lead Sales Engineer in Asia for Symphony Communication Services, a secure collaboration and workflow technology company that is valued at >USD $1bn in 3 years. As one of the company's first five employees, he has served in a variety of roles including engineering, product design, marketing, and sales.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="{% static 'images/faces/envel.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Envel Lozach aka Kireshi</h3>
                                                <p class="small-text">Jr Developer</p>
                                                <p class="description">French student, started developing in 2016 Junior Javascript/Java/php Developer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="{% static 'images/faces/misterch0c.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">mstr ch0c</h3>
                                                <p class="small-text">Security</p>
                                                <p class="description">MisterCh0c is a security passionate and professional. Previously developer, he's been working as a security consultant for over 2 years doing security assessments in a range of different environments (web, industrial control systems, IoT, mobile). He has contributed to several open source projects over the years and continues to do so.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle" src="{% static 'images/faces/ariel.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Ariel Lawson</h3>
                                                <p class="small-text"></p>
                                                <p class="description">After adblockers became common, Ariel's focus in internet advertising for the last 6 years has focused on social media, focused campaigns, channel marketing and targeted markets. While 90% of her work was an outsourced marketing Cog for Big Corporate accounts, her small business clients depended on her expertise and gave her complete campaign control.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
