{% load staticfiles %}

<div class="section demo">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>
                    <a href="{% url 'index' %}" title="Simplest possible examples MediaCoin client.">MediaCoin Demo</a> Basic Client Example
                </h2>
                <div class="separator separator-danger"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <video autoplay="" controls="">
                    <source src="{% static "media/Chrome_44-enc_av.webm" %}" type="video/webm">
                    <p>This browser does not support the video element.</p>
                </video>

                <p id="videoSrc"></p>

                <p>This demo uses extensions in HTML5 to securely deliver encrypted content. The file can not be viewed without SSL. You are welcome to <a href="{% static "media/Chrome_44-enc_av.webm" %}">check the source file</a>. The full client will use a browser wallet plugin and blockchain to pay for a decryption key.</p>
            </div>
        </div>
    </div>
</div>
