{% load staticfiles %}

<div class="section hiring">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Hiring</h2>
                <div class="separator separator-danger">♦</div>
                <p class="description">We promise you a new look and more importantly, a new attitude. We build that by getting to know you, your needs and creating the best looking clothes.</p>
            </div>
        </div>
        <div class="row real-content">
            <div class="col-md-6">
                <div class="info-icon">
                    <h3>Hiring</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 each-hire"> 
                        <label class="label-primary">Marketing and Channel Partnerships</label>
		    </div>
                    <div class="col-md-4 each-hire">
                    </div>
                    <div class="col-md-4 each-hire">
                        <label class="label-primary">Jr and Sr Javascript Developers</label>
                    </div>
                    <div class="col-md-2 each-hire"></div>
                    <div class="col-md-4 each-hire"> </div>
                    <div class="col-md-4 each-hire"> </div>
                    <div class="col-md-2 each-hire"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-icon">
                    <h3>Possible Hires</h3>
                </div>
                <div class="row">
                    <div class="col-md-4 each-hire">

                        <label class="label-info">Cryptographer (PhD in Math)</label>
			 </div>
                    <div class="col-md-4 each-hire">
                        <label class="label-info">C developer, network protocol</label>
                    </div>
                    <div class="col-md-4 each-hire">
                        <label class="label-info">Django Python Developer</label>
                    </div>
                    <div class="col-md-4 each-hire"> </div>
                    <div class="col-md-4 each-hire"> </div>
                    <div class="col-md-4 each-hire"></div>
                </div>
            </div>
        </div>
    </div>
</div>
