{% load staticfiles %}

<div class="section funding-pre-ico">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h3>December 21-31, 2017</h3>
                <p class="description">
                    $63k of $10 million<br/>
                    1 ETC per 1k tokens
                </p>
                <h3>Buy Now with ETC</h3>
                <p class="description">
		We will accept ETH payments soon, but you can buy now if using ETC. We recommend <a href="https://chrome.google.com/webstore/detail/classicmask/eenghieamipnambbokkpbbdoamilcbao?hl=en">"ClassicMask"</a> by Dexaran as a Chrome extension wallet but <a href="https://myetherwallet.com/">MyEtherWallet.com</a> (Network ETC - Epool.io on top right) is a common but more confusing alternative. To buy now, send ETC with 50,000 gas to<br>
<strong>0x3272e8087f5b9167d24d4f08ddb282e48e739ffc</strong></p>
                <p class="description">
To see your balance with ClassicMask or MyEtherWallet.com (ETC Epool.io) load the following address as a token:<br>
<strong>0x0d35a672fbdc847e84c0171060105944a951aa35</strong></p>
                <p class="description">
We suggest changing the gas limit to a higher value (add a digit) and set the gas price to 1 (not 20 MWei) for transactions. Ian personally recommends taking a picture of your private key, saving it somewhere, etc. The private key will reveal the address as well, so be careful where you save the information.</p>
<h3>Exclusions</h3>
                <p class="description">
Due to oppressive and invasive regulations that require us to divulge sensitive information about residents of New York, USA; Washington, USA and North Korea, we are not accepting purchases from these jurisdictions at this time. We are pursuing legal exclusions in the state of Washington and exploring our options with New York state. Compliance with regulation is important to our business, however the regulations of Washington are clearly unconstitutional and require us to violate the privacy of our users if we are a registered prepaid service. Please read more about <a href="http://pleaseprotectconsumers.org">consumer rights at pleaseprotectconsumers.org</a> if you value the privacy and secrecy of your private keys. We apologize for the delay, and hope to legally accept customers from all states in the USA within 6 months.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</div>
