{% load staticfiles %}
<div class="section section-header">
    <div id="bgndVideo" class="player" data-property="{videoURL: 'https://youtu.be/embed/tDVgJfYiJOk', containment:'.section-header', showYTLogo:false, showControls:false, loop:true, stopMovieOnBlur:false, autoPlay:true, mute:true, startAt:0, opacity:1}"></div>
    <div class="container">
        <div class="content custom-content">
            <div class="title-area">
                <h1 class="title-modern custom-header-title hidden-xs">MediaCoin</h1>
                <h3 class="custom-header-title-desc">Crytpocurrency securely publishing audio, video and streaming media
                    for users incentivized by tokens.</h3>
                <div class="separator line-separator hidden-xs">♦</div>
            </div>

            <div class="button-get-started">
                <a href="/static/images/whitepaper.pdf" class="btn btn-white btn-fill btn-lg custom-header-but">
                    Read Whitepaper
                </a>
                <a href="/static/images/greenpaper.pdf" class="btn btn-green btn-fill btn-lg custom-header-but">
                    Read Greenpaper
                </a>
                <a href="https://mediacoin.stream/demo/" class="btn btn-black btn-fill btn-lg custom-header-but">
                    Try Demo
                </a>
            </div>
        </div>

    </div>
</div>
</div>
