{% load staticfiles %}

<div class="section demo">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>
                    <a href="{% url 'index' %}" title="Simplest possible examples Media Coin client.">Media Coin Demo</a> Encrypted Video Delivery
                </h2>
                <div class="separator separator-danger"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <video autoplay="" controls="">
                    <source src="{% static "media/Chrome_44-enc_av.webm" %}" type="video/webm">
                    <p>This browser does not support the video element.</p>
                </video>

                <p id="videoSrc"></p>
		            <p>Every other website is easy to steal content from, because any audio or video stream the browser can play, the user can keep. The file you are watching now is different, because it is actually encrypted content that is decrypted using a secret key. Our technology will combine browser plugins for cryptography to pay for delivery and decryption key, then securely receive the decryption key into the browser.</p>
                <p>This player is HTML5 compatible, and securely plays encrypted content. The demo can not be viewed without SSL. You are welcome to <a href="{% static "media/Chrome_44-enc_av.webm" %}">check the source file</a> and note that the file does NOT play after downloading. The video content only works when the content is on our website. The full client uses a browser wallet plugin and blockchain to pay for and receive a decryption key.</p>
		            <p>For comparison, try search terms like "soundcloud downloader" and you will find browser plugins, automated code, robots that work for servers to fetch content. Bing.com will give a list of free Youtube to MP3 converters, download tools, etc. We don't need to hide the files, they only work on the site. We will allow the artists to pick their price, licensing and control their content. This is an example of our Phase 1 technology, Phases 2 and 3 will focus on network delivery to protect consumer rights despite FCC overturning Net Neutrality.</p>
            </div>
        </div>
    </div>
</div>
