{% load staticfiles %}
<div class="section features">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Our Features</h2>
                <div class="separator separator-danger"><i class="fa fa-th-list" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <h3 class="custom-h3">Secure Publishing</h3>
                                <p class="description custom-description">
                                    Military grade cryptography protects content that is licensed on a per play basis. Music and Video content is easily downloaded from competitors, but MediaCoin content is securely locked behind encryption. Downloading the file without a license is useless.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/secure.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <h3 class="custom-h3">100% Artist Payout</h3>
                                <p class="description custom-description">
                                    MediaCoin does not take any fee from artist revenue. Artists will share revenue with referrals and playlist curators (DJs) automatically. A transfer fee based on data size is paid to the hosts (seeders) who deliver the file. With competitors often charging $50 to $75 per new artist with additional fees every year, free membership and 100% payout can't be beaten.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/payment.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <h3 class="custom-h3">No Fee Token Purchase and Payment</h3>
                                <p class="description custom-description">
                                    Buying and selling the MediaCoin Token ($MCT) on exchanges will only pay exchange fees (usually 0.1% to 0.3% trade, $3-$15 withdrawal) and no fees to MediaCoin. Video and Blog tutorials will guide users on correct use of cryptocurrency technology.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/nofeebuy.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <h3 class="custom-h3">Easy Purchase and Payment</h3>
                                <p class="description custom-description">
                                    Buying and selling the MediaCoin Token ($MCT) from MediaCoin will be a streamlined process similar to any other shopping cart transaction on the World Wide Web. No confusing wallets, cryptography, hexadecimal or exchange trading or interfaces.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/easybuy.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <h3 class="custom-h3">No Subscription for Users</h3>
                                <p class="description custom-description">
                                    Most subscriptions overcharge the majority of their users, or the subscription would not be profitable. MediaCoin ensures that every transaction costs what it is worth, so no users overpay. The pay-per-play is designed to have minimal cost, so each dollar gets the most content possible.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/payperuse.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <h3 class="custom-h3">Incentive Freemium</h3>
                                <p class="description custom-description">
                                    Users will be rewarded for every opt-in behavior by earning tokens. The tokens can be redeemed directly or used to play content. Tokens will be earned based on demographic, with options ranging from video ads to installing and playing new mobile games from reward partners. No content will be locked from a Freemium account, the only requirement is spending tokens.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/freemium.png" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <h3 class="custom-h3">Content Licenses</h3>
                                <p class="description custom-description">
                                    MediaCoin is under negotiation to license over 20 million songs on a pay-per-play basis. ICO funds will license Anime, Hentai, the best of TV shows and other content for world wide distribution. The initial focus for media is content not available through piracy as an added demonstration of security. Yes, this does include hentai that has no uncensored version as a stretch goal.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/licenses.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <h3 class="custom-h3">Growth and Value</h3>
                                <p class="description custom-description">
                                    The hard cap for tokens is 2 billion, with only 200-600 million tokens available during ICO. The remainder will be released as direct sales (above market price), promotional rewards to existing users by percentage(1% tokens released to existing holders if needed to meet economic targets) and for growth of the network through public bounty programs. (GreenPaper has details.) Continued growth and development is part of our long term sustainability strategy.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/coingrowth.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <h3 class="custom-h3">Pricing Goals</h3>
                                <p class="description custom-description">
                                    Large fluctuations in price as a result of leveraged speculation are counterproductive to our network. While large jumps in token price are expected from large increases in network value, a sharp decline in price should be avoided if possible. Limiting speculation by limiting leverage and providing exchange liquidity will limit large changes. A peer network with a limited supply but deep reserves yields increasing price and steady trendlines.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/regularprice.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="each-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row clearfix">
                        <div class="col-md-7 col-sm-6 col-xs-12 float-right">
                            <div class="info-icon">
                                <h3 class="custom-h3">Future Safe</h3>
                                <p class="description custom-description">
                                    Overlapping feature requirements will allow "access anywhere" tunneling technology. OpenWRT Router upgrades will allow secure tunneling using MediaCoin Tokens (MCT) for a pay-per-MB access program. Airport, hotel and other premium hotspots will be targeted, with a secure "peer to peer tunnel" fallback using any available networking bandwidth. (Bluetooth to cellular data and storage, paid per MB at user rate.) In order to provide long term security and protect users in a post-quantum computing world, development of Quantum-Safe blockchain technology is in progress based on go-ethereum. Further details in the WhitePaper.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 float-left">
                            <div class="info-icon">
                                <div class="icon text-danger">
                                    <img src="{% static "images/future.jpg" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>