{% load staticfiles %}

<div class="section ico-token-budget">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>ICO Token Budget</h2>
                <div class="separator separator-danger"><i class="fa fa-google-wallet" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <img src="{% static "images/icons/ico-token-budget.png" %}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <div class="info-icon">
                            <h3 class="custom-h3">Overall distribution of remaining token after ICO:</h3>
                            <p class="description custom-description">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;20% Bounty Program and Community offers<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;5% Exchange Listing, payment options development<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;25% Liquidity and new sales, 20-25% over market rate (Credit Card, Paypal, WePay, etc)<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;20% Marketing Partnerships<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;10% Team bonus<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;110% Promotional tokens for wallets, publishers sign up and referral<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;10% Reserve, repurchase tokens at 10-15% below market rate.<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
