{% load staticfiles %}

<div class="section funding-pre-ico">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Funding progress in pre-ICO</h2>
                <div class="separator separator-danger">♦</div>
                <p class="description">
                    $0 of $100,000<br/>
                    1 ETC per 10k tokens
                </p>
                <h3>Countdown to ICO</h3>
                <h4>December 11, 2017</h4>
                <p class="description">
                    $0 of $100,000<br/>
                    1 ETC per 1k tokens
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
</div>