{% load staticfiles %}

<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-black">
        <div class="image" style="background-image:url('{% static "images/night.jpg" %}')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Our Team</h2>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Don Morrisson" class="img-circle" src="{% static 'images/faces/don.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Don: Chief Executive Officer</h3>
<!--                                                <p class="small-text">Chief Executive Officer</p> -->
                                                <p class="description">Don Morrison began his career in the bank industry with numerous successes in banking leadership, market innovation and operational improvement. In addition to a long career of running financial institutions, he purposely expanded his knowledge into the field of IT. This enabled the capability of development over the last 10+ years, leading solution innovation for countless banking clients. He has helped organizations to refine vertical strategies and re-build global sales and solution to organizations so that they may focus on providing value to existing and prospective clients. Mr. Morrison joined the MediaCoin Team as the Chief Executive Officer in January 2018.</p>
						<p class="darklink"><a  href="https://www.linkedin.com/in/donmorrison1714/">Don Morrison LinkedIn</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Ian Smith" class="img-circle" src="{% static 'images/faces/ian.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Ian: Chief Technology Officer</h3>
<!--                                                <p class="small-text">Chief Technology Officer</p> -->
                                                <p class="description">Quickly developing projects in the most suitable language under tight budget and program constraints became a specialty. Since 1998 he has written programs in 19 different programming languages for pay, bringing dozens of projects to completion. Ian also worked as a clustering and firewall consultant in Silicon Valley; worked on internet backbone routers at PAIX.net; profitably automated Forex trading for 3 years until 2008; taught Linux at NASA, Visa, Oracle, Boeing and many more.</p>
						<p class="darklink"><a  href="https://www.linkedin.com/in/ian-smith-20a42876/ ">Ian Smith LinkedIn</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Rory Martin" class="img-circle" src="{% static 'images/faces/rorymartin.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Rory Martin: Marketing</h3>
<!--                                                <p class="small-text">Marketing</p> =-->
                                                <p class="description">Rory has over 17 years of expertise building and running interactive marketing and web design firms. His client list includes small, medium, and Fortune 1000 companies like Target, Redhook, KIRO7, The Seattle Times, Thompson Reuters, Intel, Microsoft, Classmates.com, HTC, Genentech, Accenture, T-Mobile, and Motorola. His work is focused on creating Social Media Strategies that reflect unique brands and cultures. Online marketing campaigns deliver both measurable revenue as well as ancillary brand building benefits for clients. He helps companies realize the value of social media marketing campaigns and delivers reliable ROI in the process.</p>
						<p class="darklink"><a  href="https://www.linkedin.com/in/rorymartin/ ">Rory Martin LinkedIn</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Jeff Lam" class="img-circle" src="{% static 'images/faces/jefflam.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Jeff Lam Tian Hung: Sr UI and Javascript Developer</h3>
<!--                                                <p class="small-text">Marketing</p> =-->
                                                <p class="description">Founder and Director of Teleo.co, a project management and team collaboration tool for small businesses. Previously Lead Sales Engineer in Asia for Symphony Communication Services, a secure collaboration and workflow technology company that is valued at >USD $1bn in 3 years. As one of the company's first five employees, he has served in a variety of roles including engineering, product design, marketing, and sales.</p>
						<p class="darklink"><a  href="https://www.linkedin.com/in/jefflamth/">Jeff Lam LinkedIn</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="Nadine Krefetz" class="img-circle" src="{% static 'images/faces/nadine.jpg' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Nadine: VP of Content Licensing</h3>
<!--                                                <p class="small-text">Marketing</p> =-->
                                                <p class="description">Nadine is focused on designing tomorrow's media experiences. She has been in the digital media space for many years and has worked on over-the-top TV delivery, enterprise content product development and other digital media projects. She has extensive experience managing projects and programs for a number of media companies and technology vendors involved with digital video. She's especially interested in helping media owners transition to using cryptography and blockchain technologies. She is also a contributing editor at Streaming Media Magazine and writes extensively on technologies that are impacting media today.</p>
						<p class="darklink"><a  href="https://www.linkedin.com/in/nadinekrefetz/">Nadine Krefetz LinkedIn</a></p>
                                            </div>
                                        </div>
                                    </div>
			    </div>
				<div class="col-md-4">
					<div class="card card-member">
						<div class="content">
							<div class="avatar avatar-danger">
								<img alt="Broden Staples" class="img-circle" src="{% static 'images/faces/broden.jpg' %}"/>
							</div>
							<div class="description">
								<h3 class="title">Broden Staples: Business Development/Blockchain Enthusiast</h3>
<!--								<p class="small-text">Jr Developer</p> -->
								<p class="description">Broden thrives on understanding client business challenges and mobilizing teams and suggesting options to create valuable solutions that drive business results.    Bringing over 15 years of B2B sales management from multiple industry's handling contracts valued in the millions. He has hands on experience with cryptocurrencies, blockchain and trading/programming in Forex markets. Broden currently resides in beautiful Gig harbor, Washington.</p>
								<p class="darklink"><a  href="https://www.linkedin.com/in/broden-staples-020b343b/ ">Broden Staples LinkedIn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card card-member">
						<div class="content">
							<div class="avatar avatar-danger">
								<img alt="Garrett Meade" class="img-circle" src="{% static 'images/faces/garrett.jpg' %}"/>
							</div>
							<div class="description">
								<h3 class="title">Garrett Meade: Community Director</h3>
<!--								<p class="small-text">Jr Developer</p> -->
								<p class="description">With almost 20 years of frontline experience working with both end-users and employees, Garrett is ready to ensure a great customer experience. He creates a positive atmosphere and puts people at ease. He holds a BBA in economics from the University of Memphis. Garrett is a champion of and for the people. And he is always at your service!</p>
								<p class="darklink"><a  href="https://www.linkedin.com/in/garrett-meade-229615152">Garrett Meade LinkedIn</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-member">
						<div class="content">
							<div class="avatar avatar-danger">
								<img alt="Kireshi" class="img-circle" src="{% static 'images/faces/kireshi.jpg' %}"/>
							</div>
							<div class="description">
								<h3 class="title">David Carliez aka Kireshi: Jr Developer</h3>
<!--								<p class="small-text">Jr Developer</p> -->
								<p class="description">French student, started developing in 2016 Junior Javascript/Java/PHP Developer.</p>
								<p class="darklink"><a  href="https://www.linkedin.com/in/carliez-david-826599a4/">David Carliez LinkedIn</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-member">
						<div class="content">
							<div class="avatar avatar-danger">
								<img alt="..." class="img-circle" src="{% static 'images/faces/misterch0c.jpg' %}"/>
							</div>
							<div class="description">
								<h3 class="title">mstr_choc: Security</h3>
<!--								<p class="small-text">Jr Developer</p> -->
								<p class="description">MisterCh0c is a security passionate and professional. Previously developer, he's been working as a security consultant for over 2 years doing security assessments in a range of different environments (web, industrial control systems, IoT, mobile). He has contributed to several open source projects over the years and continues to do so.</p>
								<p class="darklink"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
