{% load staticfiles %}
<style>
.container {
	background-color: #333;
}
.funding-pre-ico {
	background-color: #333;
}
</style>
<div class="section funding-pre-ico">
    <div class="container">
        <div class="row">
	<div class="col-md-12">
		<div class="title-area">
			<img width="75%" src="/static/images/tokensalew.png" title="" class="js-srcset-img shortcode-image" alt="">	
			<h3>December 21, 2017 - February 28, 2018</h3>
			<p class="description">
			$67k of $10 million<br/>
			1 ETC per 1000 QMCT tokens
			</p>
		</div>
		<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 7%;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100">0.7% Progress</div>
		</div>
	</div></div>s
        <div class="row">
	<div class="col-md-12">                 
<a href="https://youtu.be/gn5aSWfKfTA">Demo Video</a>
                <p class="description">
		            We will accept ETH payments soon, but you can buy now if using ETC. We recommend
                    <a href="https://chrome.google.com/webstore/detail/classicmask/eenghieamipnambbokkpbbdoamilcbao?hl=en">
                        "ClassicMask"
                    </a> by Dexaran as a Chrome extension wallet but
                    <a href="https://myetherwallet.com/">
                        MyEtherWallet.com
                    </a>
                    (Network ETC - Epool.io on top right) is a common but more confusing alternative. To buy now, send ETC with 50,000 gas to<br>
                    <strong>0x3272e8087f5b9167d24d4f08ddb282e48e739ffc</strong>
                </p>
                <p class="description">
                    To see your balance with ClassicMask or MyEtherWallet.com (ETC Epool.io) load the following address as a token:<br>
                    <strong>0x0d35a672fbdc847e84c0171060105944a951aa35</strong>
                </p>
                <p class="description">
                    We suggest changing the gas limit to a higher value (add a digit) and set the gas price to 1 (not 20 MWei) for transactions. Ian personally recommends taking a picture of your private key, saving it somewhere, etc. The private key will reveal the address as well, so be careful where you save the information.
                </p>
	</div></div>
        <div class="row">
	<div class="col-md-12">                 

                <h3>Why participate in MediaCoin now?</h3>
                <h4>Limited Offer</h4>
                <p class="description">
                All tokens issued during the ICO will be offered at a special rate of 1000 QMTC (MediaCoin Tokens) being equal to 1 ETC (Ethereum Classic). Once the ICO period has ended, QMTC will be available, however it will have to be purchased at market value, and will no longer be married to the price of ETC, making the ICO period the most exciting time to participate in MediaCoin.</p>
                <h4>Disruptive Technology</h4>
                <p class="description">MediaCoin employs powerful encryption software when distributing the content in itâs archives. This prevents the need for artists to restrict access to their content for fear that it will be illegally distributed. In short, we are creating a world in which artists can finally engage with their consumers in a trustless environment that not only provides the consumer unrestricted access to their published content immediately, but also ensures that the artists are fairly compensated for the content they are producing.</p>
                <h4>Useful and practical application</h4>
                <p class="description">QMTC is the token that is used within the MediaCoin platform. It is the sole token that is accepted, and it alone allows access to the vast library of encrypted content within the MediaCoin catalog that is not available anywhere else legally, or illegally.</p>
                <h4>Technical Innovation</h4>
                <p class="description">The team developing the MediaCoin Platform has decades of experience in developing complex applications, and this is just the start. MediaCoin has a multitude of projects, released in phases, that will undoubtedly revolutionize the world we live in. At its core, MediaCoin stands for honesty, integrity, and an unwavering dedication to security and innovation.</p>
            <h3>What is MediaCoin?</h3>
            <p class="description">Mediacoin is one of the 1st platform for musicians and content creators to secure their work or content.
Users will be able to publish video, audio and streaming media via military grade encryption methods. For example if a user downloads a song from our network, then they will
be able to download it but not open it. Similar to bitcoin they would need the keys for this particular file
because the content would be locked using high encryption.  It will also allow them to offer their content on MediaCoin&apos;s platform on a pay per play basis.
We will also be moving into the live stream market and seeding market. MediaCoin is a platform for
secure publishing, distribution, and payment. We are bringing the power back to the creator, artists,
and authors of their content.</p>

</div></div>            

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-4">
		<a href="/static/media/MediaCoin_Walk_ClassicMask.pdf">Walkthrough For ClassicMask</a>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-4">           
		<a href="/static/media/MediaCoin_Walk_Mew.pdf">Walkthrough For MyEtherWallet</a>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-12">
                <h3>Legal Exclusions</h3>
                <p class="description">
                    Due to oppressive and invasive regulations that 
require us to divulge sensitive information about residents of New York,
 USA; Washington, USA and North Korea, we are not accepting purchases 
from these jurisdictions at this time. We are pursuing legal exclusions 
in the state of Washington and exploring our options with New York 
state. Compliance with regulation is important to our business, however 
the regulations of Washington are clearly unconstitutional and require 
us to violate the privacy of our users if we are a registered prepaid 
service. Please read more about <a href="http://pleaseprotectconsumers.org/">consumer rights at pleaseprotectconsumers.org</a>
 if you value the privacy and secrecy of your private keys. We apologize
 for the delay, and hope to legally accept customers from all states in 
the USA within 6 months.
                </p>
          </div>
        </div>
       
    </div>
</div>

