{% load staticfiles %}
<div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image"
            style="background-image: url('{% static "images/bg3.jpg" %}')">
        </div>
        <div class="container">
            <div class="title-area custom-get-started-title-area">
                <h2 class="text-white">“MediaCoin is destined to become artists first choice for secure publishing, distribution and payment.”</h2>
            </div>
        </div>
    </div>
</div>