{% load staticfiles %}

<div class="section ico-stretch-goals">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>ICO Stretch Goals</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Budget Scaling with investment</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 each-goal">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-usd" aria-hidden="true"></i>200k
                    </div>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i>
We'll get there, eventually</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i>
Volunteers and tokens only</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i>
Tokens for development via bounty</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i>
1 dedicated server, 10-20TB data storage</p>
                </div>
            </div>
            <div class="col-md-4 each-goal">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-usd" aria-hidden="true"></i>500k
                    </div>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> 2 dedicated developers</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Marketing promotional budget for user and content</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Multiple servers, 100-200TB data storage</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> 1 Exchange listing fee</p>
                </div>
            </div>
            <div class="col-md-4 each-goal">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-usd" aria-hidden="true"></i>1 mill
                    </div>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> 5 dedicated developers</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Accelerated Quantum Safe Blockchain development</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Funding for University Math and Cryptography research</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Simultneous iPhone and Android client development</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Initial content licensing</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> 2 Exchange listing fee</p>
                </div>
            </div>
            <div class="col-md-4 each-goal">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-usd" aria-hidden="true"></i>3 mills
                    </div>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Simultaneous development of Software Licensing features</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Develop shareware and heartbeat systems using the same token</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Data and Bandwidth sharing for iPhone and Android</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Duplicate effort to include Microsoft Edge Support</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Cross blockchain transactions</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Additional content licensing</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Additional servers and storage</p>
                </div>
            </div>
            <div class="col-md-4 each-goal">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-usd" aria-hidden="true"></i>5 mills
                    </div>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Simultaneous development of wifi router for selling bandwidth</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Contribute to development of related protocols to accelerate ecosystem</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Additional Funding for University programs</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Ebook development and partnership programs </p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> 1 year budget reserve</p>
                </div>
            </div>
            <div class="col-md-4 each-goal">
                <div class="info-icon">
                    <div class="icon">
                        <i class="fa fa-usd" aria-hidden="true"></i>10 mills
                    </div>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Additional initial content</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> Additional support for cross-blockchain transactions</p>
                    <p class="description"><i class="fa fa-check-square-o" aria-hidden="true"></i> 2 year budget reserve </p>
                </div>
            </div>
        </div>
    </div>
</div>