{% load staticfiles %}

<div class="section pre-ico-budget">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Pre-ICO Budget</h2>
                <div class="separator separator-danger"><i class="fa fa-usd" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <div class="info-icon">
                            <h3 class="custom-h3">$50k to $100k total budget: </h3>
                            <p class="description custom-description">
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;46-92k Advertising<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;$2-4k professional video presentation<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;$0.5 to $1k misc business expenses (incorporation, tax ID, registered agent)<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;$100 to 200 misc website expenses (hosting, graphic, ssl)<br/>
                                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;$1000 to 2000 professional consultant services<br/>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <img src="{% static "images/regularprice.jpg" %}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>