{% load staticfiles %}
<div class="sidebar visible-md visible-lg">
    <div class="sidebar__item">
        <a href="#" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-discord"></i>
            </div>
            <div class="sidebar__text">Discord</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="#" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-reddit"></i>
            </div>
            <div class="sidebar__text">Reddit</div>
        </a>
    </div>
    <div class="sidebar__list">
        <a href="#" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-github"></i>
            </div>
            <div class="sidebar__text">Github</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="#" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-youtube"></i>
            </div>
            <div class="sidebar__text">Youtube</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="#" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-twitter"></i>
            </div>
            <div class="sidebar__text">Twitter</div>
        </a>
    </div>
    <div class="sidebar__item">
        <a href="#" class="sidebar__link">
            <div class="sidebar__icon">
                <i class="icon-facebook"></i>
            </div>
            <div class="sidebar__text">Facebook</div>
        </a>
    </div>
</div>